# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
ml_env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
results_*.json
